# go-live security
# find folder -type f -name "*.txt" -exec rm {} \;
# find folder -type f -name "*.md" -exec rm {} \;
# find folder -type f -name "*.html" -exec rm {} \;
# find folder -type f -name "*.DS" -exec rm {} \;
# find folder -type f -name "*.lock" -exec rm {} \;
# find folder -type f -name "LICENSE" -exec rm {} \
# => find folder -type f \( -name "*.txt" -o -name "*.md" -o -name "*.html" -o -name "*.DS" -o -name "*.lock" -o -name "LICENSE" \) -exec rm {} \;
# find folder/wp-content/uploads -type f ! -name "index.php" -exec rm -f {} +
# rm -rf folder/wp-content/backups-dup-lite

# root wordpress
.htaccess
*.txt
*.md
*.html
*.DS
*.lock
# wp-config.php
wp-config.php

# wp-content
wp-content/uploads/
wp-content/languages/
wp-content/plugins/*/*.txt
wp-content/backups-dup-lite/
wp-content/themes/*/languages/
wp-content/themes/*/assets/css/
wp-content/themes/*/js
wp-content/themes/*/style-rtl.css

# wp-content / theme
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentyfour

# wp-content / theme / inc
wp-content/themes/*/inc/custom-header.php
wp-content/themes/*/inc/customizer.php
wp-content/themes/*/inc/jetpack.php
wp-content/themes/*/inc/template-tags.php