# go-live security
# find folder -type f -name "*.txt" -exec rm {} \;
# find folder -type f -name "*.md" -exec rm {} \;
# find folder -type f -name "*.html" -exec rm {} \;
# find folder -type f -name "*.DS" -exec rm {} \;
# find folder -type f -name "*.lock" -exec rm {} \;
# find folder -type f -name "LICENSE" -exec rm {} \
# => find folder -type f \( -name "*.txt" -o -name "*.md" -o -name "*.html" -o -name "*.DS" -o -name "*.lock" -o -name "LICENSE" \) -exec rm {} \;
# find folder/wp-content/uploads -type f ! -name "index.php" -exec rm -f {} +
# rm -rf folder/wp-content/backups-dup-lite

# Nếu lỗi gitignore thì đây là cách khắc phục
# B1: git rm -r --cached .
# B2: git add .
# B3: Vào sourcetree để kiểm tra

# Lấy tất cả các file thay đổi vào 1 folder để share drive
# B1 : Tạo thư mục
# mkdir changed_files
# B2 : Lấy các file đã commit lên từ nhánh đó (vào sourcetree để lấy mã)
# git diff --name-only KEY_COMMIT^
# B3 : Tạo file hàng loạt
# git diff --name-only KEY_COMMIT^ | while read -r file; do mkdir -p "changed_files/$(dirname "$file")" && mv "$file" "changed_files/$file" done

# root wordpress
.htaccess
*.txt
*.md
*.html
*.DS
*.lock
# wp-config.php
wp-config.php
backup

# wp-content
wp-content/uploads/
wp-content/languages/
wp-content/plugins/*/*.txt
wp-content/backups-dup-lite/
wp-content/ai1wm-backups/
wp-content/themes/*/languages/
wp-content/themes/*/assets/css/
wp-content/themes/*/js
wp-content/themes/*/style-rtl.css

# wp-content / theme
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentyfour

# wp-content / theme / inc
wp-content/themes/*/inc/custom-header.php
wp-content/themes/*/inc/customizer.php
wp-content/themes/*/inc/jetpack.php
wp-content/themes/*/inc/template-tags.php