#customer_login {
    .form-row {
        display: block !important;
    }

    .woocommerce-form-login__submit {
        float: unset;
    }
}

#login_remember {
    #rememberme {
        margin-right: 8px;
    }
}